@import "tailwindcss";

@theme{
    /* --breakpoint-*: initial; */
    --breakpoint-xl:"1400px";
    --breakpoint-lg:"1150px";
    --breakpoint-md:"767px";
    --breakpoint-sm:"639px";
}

html{
    scroll-behavior: smooth !important;
}


